<% include ./partials/header %>
  
  <!-- Hero Section -->
  <div class="hero">
    <h1><span>Welcome to my</span> Potfolio</h1>
  </div>
  
  
  <!-- Welcome Section -->
  <div class="welcome">
    <div class="welcome-left">
      <img src="img/welcome-01.png" alt="a laptop on wood table">
    </div>
    <div class="welcome-middle">
      <h2>Making it happen</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, explicabo quos. Cupiditate similique quaerat porro, veniam vel, ea fugit voluptatibus.</p>
    </div>
    <div class="welcome-right">
      <img src="img/welcome-02.png" alt="monitors on a desk">
    </div>
  </div>
  
<% include ./partials/footer %>