<% include ./partials/header %>
  
  <!-- Navbar -->
  <nav>
    <ul>
      <li><a href="#home">home</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#portfolio">portfolio</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>
  
  <!-- Container-all -->
  <div class="container-all">
    
    <!-- Welcome Section -->
    <div class="welcome" id="home">
      <button class="menu-button">
        <img class="openicon" src="img/hamburger.svg">
        <img class="closeicon" src="img/closeicon.svg">
      </button>
      <h1>Welcome to my <span>Portfolio</span></h1>
    </div>
    
    
    <!-- Intro Section -->
    <div class="intro">
      <div class="intro-left">
        <img src="img/welcome-01.png" alt="a laptop on wood table">
      </div>
      <div class="intro-middle">
        <h2>Making it happen</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, explicabo quos. Cupiditate similique quaerat porro, veniam vel, ea fugit voluptatibus.</p>
      </div>
      <div class="intro-right">
        <img src="img/welcome-02.png" alt="monitors on a desk">
      </div>
    </div>
    
    
    <!-- About Me Section -->
    <section class="about-me" id="about">
      <img class="about-img" src="img/joe-portfolio.png" alt="man sitting on a rock"></img>
      <h1 class="about-title">Joe Portfolio</h1>
      <h2 class="about-subtitle">Designer & Developer</h2>
      <div class="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsa, accusantium officiis ea tempora minima sunt, deleniti dolore, ipsam vel ducimus numquam aspernatur obcaecati reiciendis nesciunt modi totam atque voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, hic similique ex, optio libero dignissimos est ratione provident, dolore unde perspiciatis quam rem sint error!</p>
      </div>
    </section>
    
    
    <!-- Portfolio Section -->
    <section class="portfolio" id="portfolio">
      <h1>My Work</h1>
      <div class="portfolio-items">
        
        <!-- Portfolio Item 1 -->
        <figure class="portfolio-item featured">
          <img class="portfolio-image" src="img/portfolio-01.jpg" alt="kids on a carnival swing"></img>
          <figcaption>
            <h2 class="portfolio-title">Project Name</h2>
            <p class="portfolio-desc">A short description could go right here</p>
            <a class="portfolio-link" href="#">More Info</a>
          </figcaption>
          
           <!-- Portfolio Modal 1 -->
          <div class="portfolio-modal">
            <button class="modal-button">
              <img class="modal-closeicon" src="img/closeicon.svg">
            </button>
            <div class="portfolio-header header-1">
              <div class="portfolio-title-box">
                <h2 class="portfolio-title">Project Name</h2>
                <p class="portfolio-subtitle">Subtitle Goes Here</p>
              </div>
            </div><!-- /header -->
            
            <div class="portfolio-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ex voluptas maiores accusantium nam optio officia nisi! Reprehenderit rerum molestias sequi harum natus aliquid itaque distinctio animi ducimus cumque doloribus culpa, quisquam saepe quae deserunt debitis facere nisi, sit unde quam. Corporis quisquam officiis, perspiciatis modi nobis voluptatem, accusantium dolor consequatur saepe inventore, consequuntur aliquam aspernatur nostrum ab optio distinctio!</p>
              <img class="portfolio-full-width" src="img/portfolio-01.jpg" alt="kids on a carnival swing"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-left" src="img/portfolio-01.jpg" alt="kids on a carnival swing"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-right" src="img/portfolio-01.jpg" alt="kids on a carnival swing"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
            </div><!-- /content -->
            
          </div>
          <!-- /modal -->
        </figure>
        
        <!-- Portfolio Item 2 -->
        <figure class="portfolio-item">
          <img class="portfolio-image" src="img/portfolio-02.jpg" alt="all terrain vehicle driving in field"></img>
          <figcaption>
            <h2 class="portfolio-title">Project Name</h2>
            <p class="portfolio-desc">A short description could go right here</p>
            <a class="portfolio-link" href="#">More Info</a>
          </figcaption>
          
           <!-- Portfolio Modal 2 -->
          <div class="portfolio-modal">
            <button class="modal-button">
              <img class="modal-closeicon" src="img/closeicon.svg">
            </button>
            <div class="portfolio-header header-2">
              <div class="portfolio-title-box">
                <h2 class="portfolio-title">Project Name</h2>
                <p class="portfolio-subtitle">Subtitle Goes Here</p>
              </div>
            </div><!-- /header -->
            
            <div class="portfolio-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ex voluptas maiores accusantium nam optio officia nisi! Reprehenderit rerum molestias sequi harum natus aliquid itaque distinctio animi ducimus cumque doloribus culpa, quisquam saepe quae deserunt debitis facere nisi, sit unde quam. Corporis quisquam officiis, perspiciatis modi nobis voluptatem, accusantium dolor consequatur saepe inventore, consequuntur aliquam aspernatur nostrum ab optio distinctio!</p>
              <img class="portfolio-full-width" src="img/portfolio-02.jpg" alt="all terrain vehicle driving in field"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-left" src="img/portfolio-02.jpg" alt="all terrain vehicle driving in field"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-right" src="img/portfolio-02.jpg" alt="all terrain vehicle driving in field"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
            </div><!-- /content -->
            
          </div>
          <!-- /modal -->
        </figure>
        
        <!-- Portfolio Item 3 -->
        <figure class="portfolio-item">
          <img class="portfolio-image" src="img/portfolio-03.jpg" alt="string of lights on a deck"></img>
          <figcaption>
            <h2 class="portfolio-title">Project Name</h2>
            <p class="portfolio-desc">A short description could go right here</p>
            <a class="portfolio-link" href="#">More Info</a>
          </figcaption>
          
           <!-- Portfolio Modal 3 -->
          <div class="portfolio-modal">
            <button class="modal-button">
              <img class="modal-closeicon" src="img/closeicon.svg">
            </button>
            <div class="portfolio-header header-3">
              <div class="portfolio-title-box">
                <h2 class="portfolio-title">Project Name</h2>
                <p class="portfolio-subtitle">Subtitle Goes Here</p>
              </div>
            </div><!-- /header -->
            
            <div class="portfolio-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ex voluptas maiores accusantium nam optio officia nisi! Reprehenderit rerum molestias sequi harum natus aliquid itaque distinctio animi ducimus cumque doloribus culpa, quisquam saepe quae deserunt debitis facere nisi, sit unde quam. Corporis quisquam officiis, perspiciatis modi nobis voluptatem, accusantium dolor consequatur saepe inventore, consequuntur aliquam aspernatur nostrum ab optio distinctio!</p>
              <img class="portfolio-full-width" src="img/portfolio-03.jpg" alt="string of lights on a deck"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-left" src="img/portfolio-03.jpg" alt="string of lights on a deck"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-right" src="img/portfolio-03.jpg" alt="string of lights on a deck"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
            </div><!-- /content -->
            
          </div>
          <!-- /modal -->
        </figure>
        
        <!-- Portfolio Item 4 -->
        <figure class="portfolio-item">
          <img class="portfolio-image" src="img/portfolio-04.jpg" alt="kids running in the woods"></img>
          <figcaption>
            <h2 class="portfolio-title">Project Name</h2>
            <p class="portfolio-desc">A short description could go right here</p>
            <a class="portfolio-link" href="#">More Info</a>
          </figcaption>
          
           <!-- Portfolio Modal 4 -->
          <div class="portfolio-modal">
            <button class="modal-button">
              <img class="modal-closeicon" src="img/closeicon.svg">
            </button>
            <div class="portfolio-header header-4">
              <div class="portfolio-title-box">
                <h2 class="portfolio-title">Project Name</h2>
                <p class="portfolio-subtitle">Subtitle Goes Here</p>
              </div>
            </div><!-- /header -->
            
            <div class="portfolio-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ex voluptas maiores accusantium nam optio officia nisi! Reprehenderit rerum molestias sequi harum natus aliquid itaque distinctio animi ducimus cumque doloribus culpa, quisquam saepe quae deserunt debitis facere nisi, sit unde quam. Corporis quisquam officiis, perspiciatis modi nobis voluptatem, accusantium dolor consequatur saepe inventore, consequuntur aliquam aspernatur nostrum ab optio distinctio!</p>
              <img class="portfolio-full-width" src="img/portfolio-04.jpg" alt="kids running in the woods"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-left" src="img/portfolio-04.jpg" alt="kids running in the woods"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-right" src="img/portfolio-04.jpg" alt="kids running in the woods"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
            </div><!-- /content -->
            
          </div>
          <!-- /modal -->
        </figure>
        
        <!-- Portfolio Item 5 -->
        <figure class="portfolio-item">
          <img class="portfolio-image" src="img/portfolio-05.jpg" alt="a tree in a field"></img>
          <figcaption>
            <h2 class="portfolio-title">Project Name</h2>
            <p class="portfolio-desc">A short description could go right here</p>
            <a class="portfolio-link" href="#">More Info</a>
          </figcaption>
          
           <!-- Portfolio Modal 5 -->
          <div class="portfolio-modal">
            <button class="modal-button">
              <img class="modal-closeicon" src="img/closeicon.svg">
            </button>
            <div class="portfolio-header header-5">
              <div class="portfolio-title-box">
                <h2 class="portfolio-title">Project Name</h2>
                <p class="portfolio-subtitle">Subtitle Goes Here</p>
              </div>
            </div><!-- /header -->
            
            <div class="portfolio-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ex voluptas maiores accusantium nam optio officia nisi! Reprehenderit rerum molestias sequi harum natus aliquid itaque distinctio animi ducimus cumque doloribus culpa, quisquam saepe quae deserunt debitis facere nisi, sit unde quam. Corporis quisquam officiis, perspiciatis modi nobis voluptatem, accusantium dolor consequatur saepe inventore, consequuntur aliquam aspernatur nostrum ab optio distinctio!</p>
              <img class="portfolio-full-width" src="img/portfolio-05.jpg" alt="a tree in a field"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-left" src="img/portfolio-05.jpg" alt="a tree in a field"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
              <img class="portfolio-pull-right" src="img/portfolio-05.jpg" alt="a tree in a field"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa possimus recusandae consequuntur autem earum in accusantium odit deleniti debitis quis quidem fugit tempora sit quam facilis, a, cupiditate cum accusamus quas odio molestias quisquam eligendi nesciunt amet nam! Enim, ab!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt numquam quod culpa molestiae porro delectus, dignissimos aut. Sunt itaque ab eligendi ut ea molestias qui, veniam magnam harum accusantium doloribus dolorum doloremque perferendis, expedita natus.</p>
            </div><!-- /content -->
            
          </div>
          <!-- /modal -->
        </figure>
        
      </div>
    </section>
    
    
    <!-- Contact Section -->
    <section class="contact" id="contact">
      <h1>Contact Me</h1>
      <form action="">
        <label class="name">Name:
          <input type="text" name="name" id="name">
        </label>
        
        
        <label class="email">Email:
          <input type="email" name="email" id="email">
        </label>
        
        <label class="message">Message:
          <textarea name="message" id="message"></textarea>
        </label>
        
        <input class="send-btn" id="send-btn" type="submit" value="SEND">
      </form>
    </section>
    
    
    <!-- Footer Section -->
    <footer>
      <p>Follow me on social media</p>
      <div class="social-icons">
        <a href="#" class="twitter">
          <i class="fab fa-twitter-square fa-4x"></i>
        </a>
        <a href="#" class="instagram">
          <i class="fab fa-instagram fa-4x"></i>
        </a>
        <a href="#" class="github">
          <i class="fab fa-github-square fa-4x"></i>
        </a>
      </div>
      <p class="copyright">Copyright 2018 Joe</p>
    </footer>
    
  </div><!--- End of container-all -->
  
<% include ./partials/footer %>