.portfolio {
  text-align: center;
  background: $light-gray;
  padding: 5em 0;
}

.portfolio-items {
  @include container($max-width: 65em);
}

//Flexbox fallback
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 50%;
}

.portfolio-item.featured {
  width: 100%;
  order: -1;
}
//End of Flexbox Fallback

.portfolio-item {
  position: relative;
  overflow: hidden;
  
  .portfolio-image {
    display: block;
    width: 100%;
  }
  
  figcaption {
    position: absolute;
    background: rgba($accent, .5);
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    color: $white;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
  }
  
  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }
}

.portfolio-title {
  color: $white;
  font-size: 2.5rem;
  margin-bottom: auto;
  
  .featured & {
    font-size: 5rem;
  }
}

.portfolio-desc {
  display: none;
  
  .featured & {
    display: block;
  }
}

.portfolio-link {
  color: $white;
  font-weight: $fw-b;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 3px solid $white;
  align-self: flex-start; //contains underline to the width of the link
  
  &::after {
    content: url(../img/arrow-white.svg);
    display: inline-block;
    height: .8em;
    width: .8em;
    margin-left: .5em;
  }
}

@supports(display: grid) {
  .portfolio-item {
    width: 100%;
  }
  
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @include mq {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

//Modals

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: $white;
  box-shadow: 0 0 0 40em rgba(black, .5);
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1100px;
  margin: 0 auto;
  
  display: none;
}

.modal-is-open {
  display: block;
}

.modal-button {
  position: fixed;
  top: 1em;
  left: 1em;
  background: $white;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px rgba(black, .8);
  transition: background 250ms;
}

.modal-button:hover {
  background: lighten($accent, 50%);
}

.modal-button img {
  width: 30px;
  height: 35px;
  padding-top: 4px;
}

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
}

.header-1 {
  background-image: url(../img/portfolio-01.jpg);
}

.header-2 {
  background-image: url(../img/portfolio-02.jpg);
}

.header-3 {
  background-image: url(../img/portfolio-03.jpg);
}

.header-4 {
  background-image: url(../img/portfolio-04.jpg);
}

.header-5 {
  background-image: url(../img/portfolio-05.jpg);
}

.portfolio-title-box {
  background: rgba($accent, .75);
  padding: 3em 0 3em 2em;
  color: $white;
  width: 70%;
  
  .portfolio-title {
    font-size: 3.5rem;
    
    &::after {
      content: "";
      display: block;
      margin: .5em 0;
      width: 75%;
      height: 1px;
      background: rgba($white, .7);
    }
  }
}

.portfolio-subtitle {
  font-size: 1.25rem;
}

.portfolio-content {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 2em;
}

.portfolio-full-width {
  width: 100vw;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  height: 20vh;
  object-fit: cover;
}

@include mq {
  .portfolio-pull-left {
    width: 65%;
    float: left;
    margin-right: 2em;
  }
  
  .portfolio-pull-right {
    width: 65%;
    float: right;
    margin-left: 2em;
  }
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}








